// Define variables for your color scheme
$primary-green: linear-gradient(4deg, rgba(36,186,42,1) 32%, rgba(89,252,70,1) 100%);
$primary-red: linear-gradient(0deg, rgba(253,73,73,1) 32%, rgba(255,18,18,1) 100%);
// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #24BA2A;
$gray: #0E0000;
$light-gray: #F4F4F4;
