<%= simple_form_for [item.food, house_food] do |f| %>
  <%= hidden_field_tag :amount, item.amount %>
  <%= hidden_field_tag :item_id, item.id %>
  <%= f.button :button do%>
  <a href="" class="button small-button">Kitchen➕</a>
  <% end %>

<% end %>
