<div class="container" data-controller="search-foods">
  <h1 style = "color:#73c070">Inventory <%= link_to new_house_food_path  do%>
# start here

# end here
      <i class="fa-sharp fa-solid fa-plus" style = "color:#73c070"></i>
    <% end %></h1>
  <div>
    <%= form_with url: house_foods_path, method: :get, html: {class:
    "mb-4", data: {search_foods_target: "form"}} do |f| %>
      <%= f.text_field :query, class: "form-control", placeholder:
                     "Search your kitchen", value: params[:query],
                     data: {
                        search_foods_target: "input",
                        action: "keyup->search-foods#update"
                      } %>
# I am the end of the conflict
    <% end %>
  </div>
  <div data-search-foods-target="cards" class ="cards">
    <%= render "cards", foods: @foods%>
  </div>
</div>
