<h1 class="text-center mt-3">Shopping List</h1>
<%= @items.each do |item| %>
  <div class="card-product mt-3">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2><%= item.food.name %></h2>
      <%= render 'house_foods/form', item: item, house_food: @house_food %>
      <%= render 'destroy_item', item: item %>
    </div>
  </div>
<% end %>
