.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 8px;
}

.card-details {
  position: absolute;
  bottom: 10%;
  filter: brightness(100%);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
.links {
  color: #FFFFFF !important;
  text-decoration: none;
}

.card-link {
  position: relative;
}

.icon {
  position: absolute;
  bottom: 80%;
  margin-left: 5%;
}
.delete {
  position: absolute;
  bottom: 80%;
  margin-left: 90%;
}

[id="2"] {
  border: solid 5px rgba(217, 4, 4, 0.848);
}

[id="1"] {
  border: solid 5px rgba(217, 4, 4, 0.848);
}

[id="0"] {
  border: solid 5px rgba(217, 4, 4, 0.848);
}
#warning {
  opacity: 0;
  color: red;
}
[id="1"] #warning {
  opacity: 1;
}

[id="0"] #warning {
  opacity: 1;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  font-family: $card-font-family;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  font-size: 20px;
}
