.eat-button {
  border: none;
  background-color: #F4F4F4;
  color: #4EC068;
}

.delete-button {
  color: #4EC068;

  &:hover {
    color: #4EC068;
  }
}

.delete-button-shopping-list {
  color: #4EC068;
  border: none;
  // background-color: #4EC068;
}

.eat-button-shopping-list {
  color: #F4F4F4;
  border: none;
  background-color: #4EC068;
  // width: 15px;
  // height: 15px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  // margin: 0 auto;
}
