.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-shopping-list-link {
  color: #4EC068 !important;

}

.navbar-shopping-list-link-red {
  color: #f50404 !important;
  text-decoration: none;
}

.list_number {
  font-size: 25px;
}
