.amount-field {
  padding: 0;
  border: none;
  width: 20%;
  background-color: white;
}

.measurement-field {
  padding: 0;
  border: none;
  background-color: white;
}

.expiry-date-label {
  border: none;
}

.expiry-date {
  border: none;
  background-color: white;
}
